<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
    <div class="container">
        <div class="row" style="margin-top: 50px">
            <h1>Hacker News Topic Tracking</h1>
        </div>
        <div class="row">
            <div class="col">
                <span>Available Topics: </span>
                <!--/*@thymesVar id="topic" type="org.example.webbackend.domain.Topic"*/-->
                <a th:each="topic: ${topicList}"
                   th:text="${topic.getTopicName()}"
                   class="badge badge-primary badge-pill"
                   style="margin: 2px"
                   href="#"></a>
            </div>
        </div>
        <div class="row">
            <h1>Recent activity:</h1>
        </div>
        <div class="row"
             th:each="km: ${recentKeywordMatches}">
            <a th:text="${km.getCategory()}" th:href="'https://hacker-news.firebaseio.com/v0/item/'+${km.getHackerNewsItemId()}+'.json?print=pretty'"></a>
        </div>
    </div>
</body>

<script th:src="@{/webjars/jquery/jquery.js}"></script>
<script th:src="@{/webjars/popper.js/popper.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</html>