<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>

    <noscript>
        Oops, this website require JavaScript to work properly.
    </noscript>
    <div class="container">
        <div class="row" style="margin-top: 50px">
            <h1>Hacker News Topic Tracking</h1>
        </div>
        <div class="row">
            <div class="col">
                <span>Available Topics: </span>
                <!--/*@thymesVar id="topic" type="org.example.webbackend.domain.Topic"*/-->
                <a th:each="topic: ${topicList}"
                   th:text="${topic.getTopicName()}"
                   class="badge badge-primary badge-pill"
                   style="margin: 2px"
                   href="#"></a>
            </div>
        </div>
        <div class="row">
            <h1>Recent activity:</h1>
        </div>

        <div id="section">
        </div>
    </div>
</body>

<script th:src="@{/webjars/jquery/jquery.js}"></script>
<script th:src="@{/webjars/popper.js/popper.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/sockjs-client/sockjs.min.js}"></script>
<script th:src="@{/webjars/stomp-websocket/stomp.min.js}"></script>
<script th:src="@{/webjars/axios/dist/axios.js}"></script>
<script th:src="@{/app.js}"></script>

<template id="KeywordMatchCard">
    <div class="row card m-2">
        <div class="card-body">
            <h5 class="card-title">Category</h5>
            <div class="card-subtitle mb-2 text-muted">Author</div>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam venenatis congue
                nisi non dapibus. Nullam eu auctor dolor. Etiam vitae massa accumsan, suscipit erat at, malesuada
                augue. Quisque hendrerit sodales tortor, vel mattis quam semper eget. Mauris venenatis ultricies
                massa, id sagittis diam vehicula at. Cras pellentesque est fermentum, convallis justo porttitor,
                auctor ex. Phasellus ac quam ac quam auctor porttitor. Nam a ullamcorper est. Quisque interdum
                sagittis ipsum non imperdiet.
            </p>
            <a href="#" class="card-link">Browse on HN</a>
        </div>
    </div>
</template>

</html>
